<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="all">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="Copyright" content="TENCNET">
    <meta name="author" content="Tencent-TGideas">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>leaflet地图图层切换</title>
    <link href="../static/css/leaflet.css" rel="stylesheet">
</head>
<body>
<div id="map" style="height: 100vh;width:100wh"></div>
<script language="JavaScript" src="../static/js/jQuery/jquery-3.3.1.js"></script>
<script src="../static/js/leaflet.js"></script>
<script src="../static/js/basemap.js"></script>
<script src="../static/js/init_map.js"></script>
</body>
</html>